## OS
.DS_Store
.idea
.editorconfig
package-lock.json
.npmrc

# Ignored suffix
*.log
*.md
*.svg
*.png
*ignore

## Local
node_modules
.husky

## Built-files
.cache
dist
tmp
coverage
pnpm-lock.yaml
pnpm-workspace.yaml

**/vite.config.mts.*.mjs
