name: Release

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js 16
      uses: actions/setup-node@v3
      with:
        node-version: 16
    - run: npm install -g pnpm@7.2.1
    - run: pnpm i
    - run: pnpm run --filter vue-apollo-model build
    - uses: JS-DevTools/npm-publish@v1
      with:
        package: ./packages/model/package.json
        token: ${{ secrets.NPM_TOKEN }}
